*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}

html,body{
  height:100%;
  width:100%;
}

#main{
  height:100%;
  width:100%;
  display:flex;
}

.shape{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display:flex;
  align-items: centered;
  justify-content: centered;
}


